/*Domokos Cristina-Edina dcim1510 521 Feladat 1.1*/
/*Gyakorlat 1.1 HTML, CSS és NodeJS-t használva készítsünk egy bejelentkez˝o (login) oldalt, mely lehet˝oséget biztosít: • A már regisztrált felhasználók bejelenkezésére • Új felhasználók regisztrálására (a II. a) pontban megadott feltételek alapján) • Aregisztráltfelhasználókadataittároljukaszerveren(adatbázisbanvagyállományban). • AII.b)pontbanmegadottfeladatnakmegfelel˝ooldalelérésecsaksikeresbejelentkezés után legyen lehetséges. • Legyen lehet˝oség a kijelentkezésre • A regisztrálásnál megadott adatok formai ellen˝orzését kliens oldalon, logikai ellen˝orzését (pl. egyedi felhasználónév, múltbéli születési dátum stb) szerver oldalon végezzük! • A hibás adatbevitelt jelezzük megfelel˝oen! 
Feladat 1.1
A Regisztrációhoz szükséges adatok: • felhasználónév-csakkisbetu˝ket,számjegyeketvagy"_"karakterttartalmazhat(max. 10 karakter) • felhasználó civil neve (vezetéknév, keresztnév) • felhasználó foglalkozása (nem kötelez˝ o) • jelszó (min. 6, max 10 karaktert tartalmazzon, legyen benne kis- és nagybetu˝ is) • e-mail cím Afoglalkozástkivéve,azösszestöbbiadatotkötelez˝olegyenmegadniasikeresregisztrálás érdekében. A feltételeket írjuk is ki (eleve vagy csak sikertelen próbálkozás esetén), hogy a felhasználó tudja mit hogyan kell megadnia ahhoz, hogy sikeresen regisztrálhasson.
B Értelmez˝o szótár készítés: Bármelyik felhasználó rákereshet (reguláris kifejezésre illeszkedo˝) szavakra (anélkül, hogy bejelentkezne),ésválaszulhivatkozás-listátkapazilleszked˝oszavakkal(vagyhibaüzenetet, ha nincs találat) A megfelel˝o hivatkozásra kattintva a szóhoz fu˝zött magyarázat is megjelenik. Regisztáltésbejelentkezettfelhasználók: • ugyanúgy rákereshetnek szavakra, viszont ˝ok azt is látják, hogy melyik megjegyzést milyen azonosítójú illetve nevu˝ felhasználó írt be • új szavakat vihetnek be, meg kell adni a szót, és a hozzá fu˝zött magyarázatot (már létez˝o szóhoz nem lehet újabb magyarázatot fu˝zni)
*/
input {
			width:220px;
			margin: 25px 10px 0px 10px ;

		}
		 label {
		 	color:black;
		 	display:inline-block;
		 	width:150px;
		/*	height: 30px;*/

		 }
		 form {
			 display:inline-block;
		 	margin:50px;
		 }
		 
label.kicsi{
	width:400px;
	display:inline-block;
	color:grey;
	font-size: 13px;
}

label.hiba{
	text-align: center;
	color: red;
	width:440px;
}

button.hide{
	display: none;
}

button.show{
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button.login{
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	float: right;	
	margin: 10px 10px 10px 10px;
	
}

div.form-group{
	display: inline-block;
	margin-left:50%;
}

div.form-group2{
	display: inline-block;
	margin-left:20%;
}
div.first{
	display: inline-block;
	text-align:center;
	margin-left:43%;
}

div.center{
	display: inline-block;
}

div.mellette{
	display: inline-block;
	padding-left: 20px;
	text-align:center;
}

table.hide{
	display:none;
}

table.show{
	display:inline-block;
}

td.hide{
	display:none;
}
td.show{
	display:inline-block;
}

