doctype html
html
 head
  title #{title}
  link(rel="stylesheet" type="text/css" href="lab3.css")
 body

     form(method="POST" action="/save")
       div
          label Word
          input#word(type="text", name="word")
       div
          label Explanation
          input#word(type="text", name="exp")
       button.show(type="submit") Save