extends search

block content
  form(method="POST" action="/searching_non")
        div.form-group
           label Search word
           input#word(type="text", name="word")
           button.show(type="submit") Search

  button.login(type="submit" onclick="location.href='index'") Login
  button.login(type="submit" onclick="location.href='reg'") Registration
  br
 
  div.first(onclick="tablazat()")
   table
     each row in message
       if(row=="|")
         tr
       else
        td= row 
  div.mellette
   table#masik.hide
    each row in mess
     if(row=="|")
       tr
     else
       td= row