extends search

block content
  form(method="POST" action="/searching_non")
        div.form-group
           label Search word
           input#word(type="text", name="word")
           button.show(type="submit") Search

  button.login(type="submit" onclick="location.href='index'") Login
  button.login(type="submit" onclick="location.href='reg'") Registration