extends search

block content
  form(method="POST" action="searching_user")
        div.form-group2
           label Search word
           input#word(type="text", name="word")
           button.show(type="submit") Search

  form(method="GET" action="/add")
    div.center
        button.login(type="submit") New Word

  button.login(type="submit" onclick="location.href='logout'") Log Out